@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gruppo&family=IBM+Plex+Sans+Thai:wght@200;300;700&family=Montserrat:wght@200;300;400;800&family=Overpass+Mono:wght@300&family=Righteous&family=Roboto+Mono:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;800&family=Roboto+Mono:wght@100;300;400;500;700&family=Roboto+Slab:wght@200;300;400&family=Roboto:wght@100;300;400&display=swap');



.desktop {
  visibility: visible;
}

.mobile {
  display: none;
}

#skrollr-body {
  height: 100%;
  position: relative;
  width: 100%;

}

.bg {
  position: relative;
  min-height: 500px;
  ;
  min-width: 100vh;
  background-image: linear-gradient(0deg, rgba(210, 153, 202, 0) 5%, rgba(209, 254, 254, 1)100%, rgb(109, 216, 207));
}

.tropico {

  width: 250px;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;
  font-variant: small-caps;
  color: #000000;
}

.galaxia {

  position: absolute;
  width: 431px;
  height: 64px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 55px;
  line-height: 64px;
  font-variant: small-caps;
  text-align: center;
  color: #929292;
  width: 250px;

  margin-left: 20px;

  top: 220px;

  position: fixed;
}



.trop {
  background: linear-gradient(90deg, rgba(210, 153, 197, 0.885), rgba(174, 235, 235, 0.88));
  ;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 100%;

}

.tropicoroboto {
  font-family: 'Roboto', sans-serif;
}

.containerfotoindex {
  top: 25%;
  position: absolute;
  width: 600px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

.rectanglerosa {
  position: absolute;
  width: 65%;
  left: 40px;


}

.pantalla1 {
  
    min-height: 1000px;
    min-width: 100%;
    position: fixed;
    background: linear-gradient(90deg, hsla(334, 100%, 95%, 1) 80%, hsla(180, 96%, 91%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(334, 100%, 95%, 1) 80%, hsla(180, 96%, 91%, .5) 100%);
    background: -webkit-linear-gradient(90deg, hsla(334, 100%, 95%, 1) 80%, hsla(180, 96%, 91%, .5) 100%);
    z-index: -1;
  }
  
  
 
  .indexline1 {
    margin-left: 20px;
    font-size: 35px;
    top: 160px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-style: normal;
  
    font-variant: small-caps;
    color: rgba(60, 58, 48, 0.8);
  
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
  
  }
  
  .indexline2 {
    letter-spacing: 3px;
    margin-left: 15px;
    position: absolute;
    font-size: 35px;
    top: 190px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
  
    font-variant: small-caps;
    color: rgba(60, 58, 48, 0.8);
  
    white-space: nowrap;
    overflow: hidden;
  
  }
  
  .indexline3 {
    letter-spacing: 3px;
    position: absolute;
    font-size: 35px;
    top: 220px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-variant: small-caps;
    color: rgba(60, 58, 48, 0.8);
  
    white-space: nowrap;
    overflow: hidden;
  
  }
  
  .boxtextindex {
  
    height: 200px;
    position: relative;
    width: 538px;
    left: 0;
    right: 0;
    margin: auto;
  }
  
 
  
  .textindex1 {
    position: relative;
    font-size: 30px;
  
    color: #413d3daa;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 64px;
    font-variant: small-caps;
    height: 43px;
    white-space: nowrap;
    overflow: hidden;
  
    left: 0;
    right: 0;
  
  
    margin: auto;
  }
  
  
  
  
  
  
  .modal-fullscreen-menu {
    backdrop-filter: grayscale(90%);
    background-color: rgba(25, 21, 22, 0.832);
  }
  
  .modal-fullscreen-menu .list-group {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 60px;
  }
  
  .modal-fullscreen-menu .list-group a {
    margin: auto;
    font-size: 200%;
    font-weight: 200;
    letter-spacing: 0.1em;
    border: none;
    transition: all 0.25s ease;
    background-color: transparent;
    background-image: linear-gradient(90deg, rgba(210, 153, 197, 0.585), rgba(209, 254, 254, 0.488));
    backdrop-filter: blur 5px;
    color: white;
    padding: 7.5vh 0;
    height: 5vh;
    font-size: 5vh;
    line-height: 0;
    width: 50vh;
    margin-bottom: 5px;
  }
  
  .modal-fullscreen-menu .list-group a:hover {
    color: black;
  }
  
  
  
  
  
  @media only screen and (max-width: 991px) {
    .navbar-collapse {
      background: rgba(104, 104, 104, 0.9);
      z-index: 1000;
    }
  }
  
  
  .modal-dialog {
    pointer-events: all !important;
  }
  
  
  /*mousescroll*/
  
  .mouse-scroll {
    position: fixed;
    left: 50%;
    bottom: 90px;
    z-index: 1;
  }
  
  .mouse-scroll span {
    display: block;
    width: 5px;
    height: 5px;
  
  
    transform: rotate(45deg);
    border-right: 2px solid #5f7480;
    border-bottom: 2px solid #5f7480;
    margin: 0 0 3px 5px;
  }
  
  .mouse-scroll .mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid #5f7480;
    top: 170px;
  }
  
  .mouse-scroll .down-arrow-1 {
    margin-top: 6px;
  }
  
  .mouse-scroll .down-arrow-1,
  .mouse-scroll .down-arrow-2,
  .mouse-scroll .down-arrow-3 {
    animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  }
  
  #mouse-croll .down-arrow-1 {
    animation-delay: .1s;
  
    animation-direction: alternate;
  }
  
  .mouse-scroll .down-arrow-2 {
  
    animation-delay: .2s;
    animation-direction: alternate;
  }
  
  .mouse-scroll .down-arrow-3 {
    animation-delay: .3s;
  
    animation-direction: alternate;
  }
  
  .mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: #5f7480;
    position: relative;
  }
  
  .mouse-scroll .mouse-in {
    animation: animated-mouse 1.2s ease infinite;
  }
  
  @keyframes animated-mouse {
    0% {
  
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  
  @-webkit-keyframes mouse-scroll {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: .5;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @media (max-width: 740px) {
    .modal-fullscreen-menu {
      background-color: rgba(25, 21, 22, 0.432);
      backdrop-filter: blur(4px);
    }
  
    .modal-fullscreen-menu .list-group {
      margin-top: 100px;
    }
  
    .list-group {
      position: relative;
      top: -50px;
    }
  
    .boxtextindex {
  
      height: 300px;
      position: absolute;
      width: 300px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin: auto;
  
    }
  
    .indexline1 {
      font-size: 22px;
    }
  
    .indexline2 {
      font-size: 22px;
    }
  
    .indexline3 {
      font-size: 22px;
    }
  
  
    .rectanglerosa {
      top: 20px;
      left: 0px;
    }
  
  
  
    .mobile {
      display: inline;
    }
  
    .tropmobile {
      font-size: 60px;
  
    }
  
    .desktop {
      visibility: hidden;
    }
  
    .bg {
      position: relative;
      min-height: 500px;
      ;
      min-width: 100vh;
      background: transparent
    }
  
  }
  
/*FOOTER*/


.foot {
    position: fixed;
    bottom: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 40px;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(230, 219, 231, 0.785), rgba(209, 254, 254, 0.388));
  }
  .foot__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 30px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .foot__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 20px;
    margin: 0 40px 0 40px;
    text-decoration: none;
    list-style-type: none;
  }
  .foot__item:hover {
    border-bottom: 2px solid rgb(205, 195, 137);
  }
  .foot__iconos {
    width: 20px;
  }
  
  .listfoot li a {
    text-decoration: none;
  }
  
  /*MEDIA QUERY FOOTER*/
  @media (max-width: 740px) {
    .foot {
      height: 60px;
      background: rgba(255, 255, 255, 0.6);
    }
  }