* {
  margin: 0;
  padding: 0; }

.foot {
  position: fixed;
  bottom: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 40px;
  width: 100%;
  background-image: linear-gradient(90deg, rgba(230, 219, 231, 0.785), rgba(209, 254, 254, 0.388)); }
  .foot__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 30px;
    width: 100%;
    padding: 0;
    margin: 0; }
  .foot__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 20px;
    margin: 0 40px 0 40px;
    text-decoration: none;
    list-style-type: none; }
    .foot__item:hover {
      border-bottom: 2px solid #cdc389; }
  .foot__iconos {
    width: 20px; }

.listfoot li a {
  text-decoration: none; }

/*MEcalendario__dia QUERY FOOTER*/
@media (max-width: 740px) {
  .foot {
    height: 60px;
    background: rgba(255, 255, 255, 0.6); } }

/*FLECHAS*/
.flecha-derecha span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid rgba(42, 40, 40, 0.712);
  border-right: 3px solid rgba(42, 40, 40, 0.712);
  animation: derecha 2s infinite;
  margin: 20px; }

@keyframes derecha {
  0% {
    opacity: 0;
    transform: rotate(315deg) translate(0px, 0px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(315deg) translate(10px, 10px); } }

.flecha-izquierda span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid rgba(42, 40, 40, 0.712);
  border-right: 3px solid rgba(42, 40, 40, 0.712);
  animation: izquierda 2s infinite;
  margin: 20px; }

@keyframes izquierda {
  0% {
    opacity: 0;
    transform: rotate(135deg) translate(0px, 0px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(135deg) translate(10px, 10px); } }

.flecha-abajo span {
  display: block;
  position: relative;
  top: 130px;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid rgba(42, 40, 40, 0.712);
  border-right: 3px solid rgba(42, 40, 40, 0.712);
  animation: abajo 2s infinite; }

@keyframes abajo {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(0px, 0px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px); } }

.flecha-arriba span {
  display: block;
  position: relative;
  top: -130px;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid rgba(42, 40, 40, 0.712);
  border-right: 3px solid rgba(42, 40, 40, 0.712);
  animation: arriba 2s infinite; }

@keyframes arriba {
  0% {
    opacity: 0;
    transform: rotate(225deg) translate(0px, 0px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(225deg) translate(10px, 10px); } }

.fondobio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(90deg, rgba(210, 190, 153, 0.785), rgba(209, 254, 254, 0.388)); }

.bioscroll {
  margin: auto;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 400px;
  width: 70%;
  margin-top: 80px;
  margin-bottom: 50px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding-top: 80px;
  background-color: rgba(202, 141, 141, 0.256);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }
  .bioscroll__cajabio {
    margin: auto;
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 80%;
    height: 150%;
    padding: 200px 0 200px 0; }
  .bioscroll__cajabio--scrollprop {
    scroll-snap-align: center; }

.bioscroll::-webkit-scrollbar {
  display: none; }

/*TEXTOBIO*/
.bioscroll__texto {
  font-family: 'Roboto Mono', monospace;
  line-height: 80px;
  text-align: center;
  font-size: 30px; }

/*MEDIO QUERYS*/
@media (max-width: 740px) {
  .bioscroll {
    height: 450px;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px; }
    .bioscroll__cajabio {
      width: 180px; }
    .bioscroll__texto {
      font-family: 'Roboto Mono', monospace;
      line-height: 30px;
      text-align: center;
      font-size: 20px;
      overflow-wrap: break-word; }
  .flecha-abajo-query span {
    display: block;
    margin-bottom: 80px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid rgba(42, 40, 40, 0.712);
    border-right: 2px solid rgba(42, 40, 40, 0.712);
    animation: abajo 2s infinite;
    z-index: 1000; }
  .flecha-abajo span {
    display: none; }
  .flecha-arriba span {
    display: none; }
  .fondobio {
    align-items: center; } }

/*---SONIDOS---*/
.fondosonido {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: auto;
  background-image: linear-gradient(90deg, #d2be99, rgba(209, 254, 254, 0.5)); }

.box-canciones {
  display: grid;
  height: 380px;
  place-items: center;
  margin-top: 6rem; }
  .box-canciones:hover {
    width: 600px; }
  .box-canciones:hover .card--translate1 {
    transform: translateX(-300px) rotate(0); }
  .box-canciones:hover .card--translate2 {
    transform: translateX(300px) rotate(0); }
  .box-canciones:hover .card--translate3 {
    transform: translateX(0) rotate(0); }

.btn-outline-danger:focus {
  background-color: #df4759; }

.btn-outline-success:focus {
  background-color: #5cb85c; }

.btn-outline-warning:focus {
  background-color: #f0ad4e; }

.btn-outline-danger:active {
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f700ff, 0 0 140px 90px #dd00ff; }

.btn-outline-success:active {
  box-shadow: 0 0 60px 30px #ffffff, 0 0 100px 60px #00ff37, 0 0 140px 90px #0ff; }

.btn-outline-warning:active {
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f2ff00, 0 0 140px 90px #f56d18; }

.card--detalle {
  /*     margin: 50px !important; */
  background: #dfce8f;
  background: linear-gradient(171deg, rgba(223, 206, 143, 0.5) 0%, rgba(210, 164, 202, 0.5) 100%);
  backdrop-filter: blur(50px);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: absolute;
  transition: .3s ease-in-out;
  cursor: pointer; }

.card__imgsonidos {
  border-radius: 10px;
  opacity: 1; }

.reproductor {
  position: relative;
  width: 80vw;
  height: 52px;
  border-radius: 40px;
  margin: auto;
  margin-bottom: 90px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; }
  .reproductor__seeker {
    -webkit-appearance: none;
    appearance: none;
    width: 80vw;
    padding: 20px;
    height: 52px;
    border-radius: 40px; }
    .reproductor__seeker:focus {
      outline: none; }
    .reproductor__seeker::-webkit-slider-runnable-track {
      width: 100%;
      height: 16px;
      cursor: pointer;
      box-shadow: 0px 0px 0px #000000;
      background: #DE9EA6;
      border-radius: 25px;
      border: 1px solid #8A8A8A; }
    .reproductor__seeker::-webkit-slider-thumb {
      box-shadow: 1px 1px 2px #A6A6A6;
      border: 2px solid #F27B7F;
      height: 25px;
      width: 25px;
      border-radius: 23px;
      background: #FFC7D0;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -6px; }
    .reproductor__seeker:focus::-webkit-slider-runnable-track {
      background: #DE9EA6; }
    .reproductor__seeker::-moz-range-track {
      width: 100%;
      height: 16px;
      cursor: pointer;
      box-shadow: 0px 0px 0px #000000;
      background: #DE9EA6;
      border-radius: 25px;
      border: 1px solid #8A8A8A; }
    .reproductor__seeker::-moz-range-thumb {
      box-shadow: 1px 1px 1px #828282;
      border: 1px solid #8A8A8A;
      height: 24px;
      width: 35px;
      border-radius: 6px;
      background: #DADADA;
      cursor: pointer; }
    .reproductor__seeker::-ms-track {
      width: 100%;
      height: 16px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent; }
    .reproductor__seeker::-ms-fill-lower, .reproductor__seeker::-ms-fill-upper {
      background: #DE9EA6;
      border: 1px solid #8A8A8A;
      border-radius: 50px;
      box-shadow: 0px 0px 0px #000000; }
    .reproductor__seeker::-ms-thumb {
      margin-top: 1px;
      box-shadow: 1px 1px 1px #828282;
      border: 1px solid #8A8A8A;
      height: 24px;
      width: 35px;
      border-radius: 6px;
      background: #DADADA;
      cursor: pointer; }
    .reproductor__seeker:focus::-ms-fill-lower, .reproductor__seeker:focus::-ms-fill-upper {
      background: #DE9EA6; }

@media (max-width: 740px) {
  .box-canciones {
    margin-top: 8rem; }
  .reproductor {
    position: relative;
    width: 80vw;
    height: 52px;
    border-radius: 40px;
    margin: auto;
    margin-bottom: 110px; } }

/*---FECHAS---*/
.row--style {
  margin: 0;
  padding: 0;
  height: 100%;
  margin: 0px 0 90px 0; }

.bg {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 100%;
  background-image: linear-gradient(90deg, #d2be99, rgba(209, 254, 254, 0.5)); }

.scrolling-num {
  width: 100vh;
  overflow-x: auto;
  z-index: 1; }
  .scrolling-num::-webkit-scrollbar {
    width: 0px;
    background: transparent; }

.scrolling-flyer-map {
  width: 100%;
  max-height: 340px;
  height: 50%;
  scroll-behavior: smooth;
  margin-bottom: 100px;
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth; }
  .scrolling-flyer-map::-webkit-scrollbar {
    display: none; }

.scrolling-flyer-map__content {
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.flyer {
  width: auto;
  height: 80%;
  max-width: 300px;
  max-height: 300px;
  margin: 0px 40px;
  border-radius: 20px; }
  .flyer:hover {
    transform: translate(1px, 1px); }

.flyer--border {
  box-shadow: #f02eaa 2px 2px, rgba(240, 46, 170, 0.3) 5px 5px, rgba(240, 46, 170, 0.2) 10px 10px, rgba(240, 46, 170, 0.1) 15px 15px, rgba(240, 46, 170, 0.05) 20px 20px; }
  .flyer--border:hover {
    box-shadow: #f02eaa 1px 1px, rgba(240, 46, 170, 0.3) 4px 4px, rgba(240, 46, 170, 0.2) 9px 9px, rgba(240, 46, 170, 0.1) 14px 14px, rgba(240, 46, 170, 0.05) 19px 19px; }

/*flyer grandes*/
.flyer-fullscreen {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(53, 51, 51, 0.856);
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  .flyer-fullscreen img {
    width: 0%;
    height: 0%;
    padding: 0;
    transition: all .5s;
    margin: auto; }
  .flyer-fullscreen:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
    .flyer-fullscreen:target img {
      height: auto;
      width: 90%;
      max-width: 500px;
      max-height: 500px;
      border-radius: 24px;
      box-shadow: 0px 0px 20px 1px #bec692e8;
      border: 1px solid rgba(255, 255, 255, 0.925); }

.flyer-fullscreen__lightbox-close {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto; }

/*--calendario--*/
.calendario {
  margin-top: 50px;
  position: relative;
  width: 120px;
  opacity: .8;
  margin-left: 10px; }
  .calendario .calendario__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-bottom: 2px solid #ffe3ef;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 5px 25px rgba(180, 133, 155, 0.15); }
    .calendario .calendario__box .calendario__mes {
      color: #333030;
      background-image: linear-gradient(90deg, #ffe3ef 50px, #fffcc2);
      width: 100%;
      font-size: 1em;
      text-align: center;
      font-weight: 400;
      padding: 5px 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px; }
    .calendario .calendario__box .calendario__dia {
      color: #333030;
      font-size: 1em;
      font-weight: 400;
      margin-top: 0px; }
    .calendario .calendario__box .calendario__ndia {
      color: #333030;
      font-size: 2em;
      font-weight: 600;
      line-height: 1.2em; }

.calendario__link {
  text-decoration: none; }

.calendario:hover {
  transform: translateY(-5px);
  box-shadow: none;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(235, 132, 225, 0.56);
  -moz-box-shadow: 0px 0px 10px 0px rgba(235, 132, 225, 0.56);
  box-shadow: 0px 0px 10px 0px rgba(235, 132, 225, 0.56); }

/*MEDIA QUERY FECHA*/
@media (max-width: 740px) {
  .scrolling-num {
    width: 70%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px; }
  .scrolling-flyer-map {
    height: 60%; }
  .scrolling-flyer-map__content {
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .flyer--margin {
    margin-top: 30px;
    margin-bottom: 15px; }
  .flyer {
    max-height: 145px; } }

.modal-fullscreen-menu {
  background-color: rgba(215, 151, 162, 0.365);
  backdrop-filter: grayscale(90%); }
  .modal-fullscreen-menu .list-group {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 40px; }
    .modal-fullscreen-menu .list-group a {
      font-size: 200%;
      font-weight: 200;
      letter-spacing: 0.1em;
      border: none;
      transition: all 0.25s ease;
      background-color: transparent;
      color: white;
      padding: 7.5vh 0;
      height: 5vh;
      font-size: 5vh;
      line-height: 0; }
      .modal-fullscreen-menu .list-group a:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #de8b8b;
        z-index: -1;
        opacity: 0;
        transform: scale3d(0.8, 1, 1);
        transition: transform 0.4s, opacity .5s; }
      .modal-fullscreen-menu .list-group a:hover {
        color: black; }
        .modal-fullscreen-menu .list-group a:hover:before {
          transform: translate3d(0, 0, 0);
          opacity: 0.9; }

.modal-backdrop.in {
  opacity: 1; }

.animated-icon1 {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  background: transparent; }
  .animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    background: #000000; }
    .animated-icon1 span:nth-child(1) {
      top: 0px; }
    .animated-icon1 span:nth-child(2) {
      top: 10px; }
    .animated-icon1 span:nth-child(3) {
      top: 20px; }
  .animated-icon1.open span:nth-child(1) {
    top: 8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px; }
  .animated-icon1.open span:nth-child(3) {
    top: 8px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }

@media only screen and (max-width: 991px) {
  .navbar-collapse {
    background: rgba(104, 104, 104, 0.9);
    z-index: 1000; } }

.navbar-toggler {
  box-shadow: none;
  border: none; }
  .navbar-toggler:focus {
    box-shadow: none;
    border: none; }

.modal-dialog {
  pointer-events: all !important; }

.hamburger--position {
  position: absolute;
  top: 10px;
  left: 28px;
  padding: 0;
  padding-top: 14px; }

.hamburger--glow {
  -webkit-box-shadow: 0px 0px 74px 23px rgba(227, 168, 219, 0.65);
  -moz-box-shadow: 0px 0px 74px 23px rgba(227, 168, 219, 0.65);
  box-shadow: 0px 0px 74px 23px rgba(227, 168, 219, 0.65); }

.first-button :active,
.first-button:hover,
.first-button:focus {
  outline: none;
  box-shadow: none; }
