@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;800&family=Roboto+Mono:wght@100;300;400;500;700&family=Roboto+Slab:wght@200;300;400&family=Roboto:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace; }

.titulos {
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 72px;
  background: linear-gradient(90deg, rgba(210, 153, 197, 0.585), rgba(209, 254, 254, 0.488));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: movfondo;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  background-position: 0%;
  background-size: 200%; }

@keyframes movfondo {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@media (max-width: 740px) {
  .titulos {
    position: fixed;
    right: 5px;
    top: 0;
    font-size: 52px;
    animation: fadeOutRight 40s infinite both; }
  @keyframes fadeOutRight {
    0% {
      opacity: .5; }
    60% {
      opacity: 0;
      transform: translate3d(50%, 0, 0); }
    61% {
      opacity: 0;
      transform: translate3d(0, 0, 0); }
    100% {
      opacity: .5;
      transform: translate3d(0, 0, 0); } } }

/*FLECHAS*/
.flecha-derecha span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid rgba(42, 40, 40, 0.712);
  border-right: 3px solid rgba(42, 40, 40, 0.712);
  animation: derecha 2s infinite;
  margin: 20px; }

@keyframes derecha {
  0% {
    opacity: 0;
    transform: rotate(315deg) translate(0px, 0px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(315deg) translate(10px, 10px); } }

.flecha-izquierda span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid rgba(42, 40, 40, 0.712);
  border-right: 3px solid rgba(42, 40, 40, 0.712);
  animation: izquierda 2s infinite;
  margin: 20px; }

@keyframes izquierda {
  0% {
    opacity: 0;
    transform: rotate(135deg) translate(0px, 0px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(135deg) translate(10px, 10px); } }

.flecha-abajo span {
  display: block;
  position: relative;
  top: 130px;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid rgba(42, 40, 40, 0.712);
  border-right: 3px solid rgba(42, 40, 40, 0.712);
  animation: abajo 2s infinite; }

@keyframes abajo {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(0px, 0px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px); } }

.flecha-arriba span {
  display: block;
  position: relative;
  top: -130px;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid rgba(42, 40, 40, 0.712);
  border-right: 3px solid rgba(42, 40, 40, 0.712);
  animation: arriba 2s infinite; }

@keyframes arriba {
  0% {
    opacity: 0;
    transform: rotate(225deg) translate(0px, 0px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(225deg) translate(10px, 10px); } }

.swipeside {
  position: absolute;
  width: fit-content;
  opacity: .3;
  animation: wobble 2s infinite; }
  .swipeside__img {
    width: 30px;
    animation: opacity 25s infinite; }

@keyframes wobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes opacity {
  from {
    opacity: 1; }
  50% {
    opacity: 0; }
  to {
    opacity: 0; } }

.swipedown {
  position: absolute;
  width: fit-content;
  animation: opacity 25s infinite;
  opacity: .3; }
  .swipedown__img {
    width: 30px;
    transform: rotate(90deg);
    animation: wobbleup 2s infinite; }

@keyframes wobbleup {
  from {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 90deg);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 90deg); }
  15% {
    -webkit-transform: translate3d(0, -25%, 0) rotate3d(0, 0, 1, 95deg);
    transform: translate3d(0, -25%, 0) rotate3d(0, 0, 1, 95deg); }
  30% {
    -webkit-transform: translate3d(0, 20%, 0) rotate3d(0, 0, 1, 93deg);
    transform: translate3d(0, 20%, 0) rotate3d(0, 0, 1, 93deg); }
  45% {
    -webkit-transform: translate3d(0, -15%, 0) rotate3d(0, 0, 1, 90deg);
    transform: translate3d(0, -15%, 0) rotate3d(0, 0, 1, 90deg); }
  60% {
    -webkit-transform: translate3d(0, 10%, 0) rotate3d(0, 0, 1, 92deg);
    transform: translate3d(0, 10%, 0) rotate3d(0, 0, 1, 92deg); }
  75% {
    -webkit-transform: translate3d(0, -5%, 0) rotate3d(0, 0, 1, 91deg);
    transform: translate3d(0, -5%, 0) rotate3d(0, 0, 1, 90deg); }
  to {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 95deg);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 95deg); } }

@keyframes opacity {
  from {
    opacity: 1; }
  50% {
    opacity: 0; }
  to {
    opacity: 0; } }

.modal-fullscreen-menu {
  backdrop-filter: grayscale(90%);
  background-color: rgba(25, 21, 22, 0.432); }
  .modal-fullscreen-menu .list-group {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 60px; }
    .modal-fullscreen-menu .list-group a {
      font-size: 200%;
      font-weight: 200;
      letter-spacing: 0.1em;
      border: none;
      transition: all 0.25s ease;
      background-color: transparent;
      color: white;
      padding: 7.5vh 0;
      height: 5vh;
      font-size: 5vh;
      line-height: 0; }
      .modal-fullscreen-menu .list-group a:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-image: linear-gradient(90deg, rgba(210, 153, 197, 0.585), rgba(209, 254, 254, 0.488));
        backdrop-filter: blur 5px;
        z-index: -1;
        opacity: 0;
        transform: scale3d(0.8, 1, 1);
        transition: transform 0.4s, opacity .5s;
        border-radius: 4px; }
      .modal-fullscreen-menu .list-group a:hover {
        color: black; }
        .modal-fullscreen-menu .list-group a:hover:before {
          transform: translate3d(0, 0, 0);
          opacity: 0.9; }

.modal-backdrop.in {
  opacity: 1; }

.animated-icon1 {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  background: transparent; }
  .animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    background: linear-gradient(145deg, #e1bfe1, #f0f0f0); }
    .animated-icon1 span:nth-child(1) {
      top: 0px; }
    .animated-icon1 span:nth-child(2) {
      top: 10px; }
    .animated-icon1 span:nth-child(3) {
      top: 20px; }
  .animated-icon1.open span:nth-child(1) {
    top: 8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px; }
  .animated-icon1.open span:nth-child(3) {
    top: 8px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }

@media only screen and (max-width: 991px) {
  .navbar-collapse {
    background: rgba(104, 104, 104, 0.9);
    z-index: 1000; } }

.navbar-toggler {
  box-shadow: none;
  border: none; }
  .navbar-toggler:focus {
    box-shadow: none;
    border: none; }

.modal-dialog {
  pointer-events: all !important; }

.hamburger--position {
  position: absolute;
  top: 0px;
  left: 28px;
  padding: 0;
  padding-top: 0px; }

.first-button :active,
.first-button:hover,
.first-button:focus {
  outline: none;
  box-shadow: none; }

@media (max-width: 740px) {
  .modal-fullscreen-menu {
    background-color: rgba(25, 21, 22, 0.432);
    backdrop-filter: blur(6px); }
    .modal-fullscreen-menu .list-group {
      margin-top: 100px; }
      .modal-fullscreen-menu .list-group a {
        margin: auto;
        background-color: transparent;
        background-image: linear-gradient(90deg, rgba(210, 153, 197, 0.485), rgba(209, 254, 254, 0.388));
        backdrop-filter: blur(4px);
        width: 90%;
        color: white;
        margin-bottom: 10px; } }

.foot {
  position: fixed;
  bottom: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 40px;
  width: 100%;
  background-image: linear-gradient(90deg, rgba(230, 219, 231, 0.785), rgba(209, 254, 254, 0.388)); }
  .foot__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 30px;
    width: 100%;
    padding: 0;
    margin: 0; }
  .foot__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 20px;
    margin: 0 40px 0 40px;
    text-decoration: none;
    list-style-type: none; }
    .foot__item:hover {
      border-bottom: 2px solid #cdc389; }
  .foot__iconos {
    width: 20px; }

.listfoot li a {
  text-decoration: none; }

/*MEcalendario__dia QUERY FOOTER*/
@media (max-width: 740px) {
  .foot {
    height: 60px;
    background: rgba(255, 255, 255, 0.6); } }

.desktop {
  visibility: visible; }

.mobile {
  display: none; }

#skrollr-body {
  height: 100%;
  position: relative;
  width: 100%; }

.index-bg-movi {
  position: relative;
  min-height: 500px;
  min-width: 100vh;
  background-image: linear-gradient(0deg, rgba(210, 153, 202, 0) 5%, #d1fefe 100%, #6dd8cf); }

.tropico {
  width: 250px;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;
  font-variant: small-caps;
  color: #000000; }

.text-galaxia {
  position: absolute;
  width: 431px;
  height: 64px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 55px;
  line-height: 64px;
  font-variant: small-caps;
  text-align: center;
  color: #929292;
  width: 250px;
  margin-left: 20px;
  top: 220px;
  position: fixed; }

.text-galaxia--transform {
  transform: translate(60px, -40px); }

.troprosa {
  color: transparent;
  z-index: -1; }

.trop {
  background: linear-gradient(90deg, rgba(210, 153, 197, 0.885), rgba(174, 235, 235, 0.88));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%; }

.tropicoroboto {
  font-family: 'Roboto', sans-serif; }

.containerfotoindex {
  top: 25%;
  position: absolute;
  width: 600px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1; }

.rectanglerosa {
  position: absolute;
  width: 65%;
  left: 40px; }

.index-bg-fijo {
  min-height: 1000px;
  min-width: 100%;
  position: fixed;
  background: linear-gradient(90deg, #ffe6f1 80%, #d2fefe 100%);
  background: -moz-linear-gradient(90deg, #ffe6f1 80%, rgba(210, 254, 254, 0.5) 100%);
  background: -webkit-linear-gradient(90deg, #ffe6f1 80%, rgba(210, 254, 254, 0.5) 100%);
  z-index: -1; }

.index-line-1 {
  margin-left: 20px;
  font-size: 35px;
  top: 160px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
  font-style: normal;
  font-variant: small-caps;
  color: rgba(60, 58, 48, 0.8);
  white-space: nowrap;
  overflow: hidden;
  position: absolute; }

.index-line-2 {
  letter-spacing: 3px;
  margin-left: 15px;
  position: absolute;
  font-size: 35px;
  top: 190px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-variant: small-caps;
  color: rgba(60, 58, 48, 0.8);
  white-space: nowrap;
  overflow: hidden; }

.index-line-3 {
  letter-spacing: 3px;
  position: absolute;
  font-size: 35px;
  top: 220px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-variant: small-caps;
  color: rgba(60, 58, 48, 0.8);
  white-space: nowrap;
  overflow: hidden; }

.box-text-index {
  height: 200px;
  position: relative;
  width: 538px;
  left: 0;
  right: 0;
  margin: auto; }

.modal-fullscreen-menu--index {
  backdrop-filter: grayscale(90%);
  background-color: rgba(25, 21, 22, 0.832); }

.modal-fullscreen-menu--index .list-group {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 60px !important; }

.modal-fullscreen-menu--index .list-group a {
  margin: auto;
  font-size: 200%;
  font-weight: 200;
  letter-spacing: 0.1em;
  border: none;
  transition: all 0.25s ease;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgba(210, 153, 197, 0.585), rgba(209, 254, 254, 0.488));
  backdrop-filter: blur 5px;
  color: white;
  padding: 7.5vh 0;
  height: 5vh;
  font-size: 5vh;
  line-height: 0;
  width: 50vh;
  margin-bottom: 5px; }

.modal-fullscreen-menu--index .list-group a:hover {
  color: black; }

@media only screen and (max-width: 991px) {
  .navbar-collapse--index {
    background: rgba(104, 104, 104, 0.9);
    z-index: 1000; } }

.modal-dialog--index {
  pointer-events: all !important; }

/*mousescroll*/
.mouse-scroll {
  position: fixed;
  bottom: 75px;
  z-index: 1;
  animation: scroll-down 2s ease 0s infinite normal both;
  left: 50%;
  transform: translatex(-50%); }

.mouse-scroll span {
  display: block;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  border-right: 2px solid #5f7480;
  border-bottom: 2px solid #5f7480;
  margin: 0 0 3px 5px; }

.mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid #5f7480;
  top: 170px; }

.mouse-scroll .down-arrow-1 {
  margin-top: 6px; }

.mouse-scroll .down-arrow-1,
.mouse-scroll .down-arrow-2,
.mouse-scroll .down-arrow-3 {
  animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite; }

#mouse-croll .down-arrow-1 {
  animation-delay: .1s;
  animation-direction: alternate; }

.mouse-scroll .down-arrow-2 {
  animation-delay: .2s;
  animation-direction: alternate; }

.mouse-scroll .down-arrow-3 {
  animation-delay: .3s;
  animation-direction: alternate; }

.mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #5f7480;
  position: relative; }

.mouse-scroll .mouse-in {
  animation: animated-mouse 1.2s ease infinite; }

@keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px); } }

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.scroll-down {
  position: fixed;
  animation: scroll-down 2s ease 0s infinite normal both;
  color: #5f7480; }
  .scroll-down--index-position {
    bottom: 115px;
    left: calc(50% - 40px); }

@keyframes scroll-down {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }

@media (max-width: 740px) {
  .titulos--index {
    position: fixed;
    font-size: 30px;
    left: -20%; }
  .modal-fullscreen-menu--index {
    background-color: rgba(25, 21, 22, 0.432);
    backdrop-filter: blur(4px); }
  .modal-fullscreen-menu--index .list-group {
    margin-top: 100px !important; }
  .list-group {
    position: relative;
    top: -50px; }
  .box-text-index {
    height: 300px;
    position: absolute;
    width: 300px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin: auto; }
  .index-line-1 {
    font-size: 22px; }
  .index-line-2 {
    font-size: 22px; }
  .index-line-3 {
    font-size: 22px; }
  .rectanglerosa {
    top: 20px;
    left: 0px; }
  .mobile {
    display: inline; }
  .tropmobile {
    font-size: 60px; }
  .desktop {
    visibility: hidden; }
  .index-bg-movil {
    position: relative;
    min-height: 500px;
    min-width: 100vh;
    background: transparent; } }

.fondobio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(210, 190, 153, 0.785), rgba(209, 254, 254, 0.388)); }

.bioscroll {
  margin: auto;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 400px;
  width: 70%;
  margin-top: 80px;
  margin-bottom: 50px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding-top: 80px;
  background-color: rgba(202, 141, 141, 0.256);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }
  .bioscroll__cajabio {
    margin: auto;
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 80%;
    height: 150%;
    padding: 200px 0 200px 0; }
  .bioscroll__cajabio--fotoscroll__scrollprop {
    scroll-snap-align: center; }

.bioscroll::-webkit-scrollbar {
  display: none; }

/*TEXTOBIO*/
.bioscroll__texto {
  font-family: 'Roboto Mono', monospace;
  line-height: 80px;
  text-align: center;
  font-size: 30px; }

/*MEDIO QUERYS*/
@media (max-width: 740px) {
  .bioscroll {
    height: 450px;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px; }
    .bioscroll__cajabio {
      width: 180px; }
    .bioscroll__texto {
      font-family: 'Roboto Mono', monospace;
      line-height: 30px;
      text-align: center;
      font-size: 20px;
      overflow-wrap: break-word; }
  .flecha-abajo-query span {
    display: block;
    margin-bottom: 80px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid rgba(42, 40, 40, 0.712);
    border-right: 2px solid rgba(42, 40, 40, 0.712);
    animation: abajo 2s infinite;
    z-index: 1000; }
  .flecha-abajo span {
    display: none; }
  .flecha-arriba span {
    display: none; }
  .fondobio {
    align-items: center; } }

/*---SONIDOS---*/
.fondosonido {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(90deg, #d2be99, rgba(209, 254, 254, 0.5)); }

.box-canciones {
  display: grid;
  height: 300px;
  place-items: center;
  margin-top: 6rem; }
  .box-canciones:hover {
    width: 600px; }
  .box-canciones:hover .card--translate1 {
    transform: translateX(-300px) rotate(0); }
  .box-canciones:hover .card--translate2 {
    transform: translateX(300px) rotate(0); }
  .box-canciones:hover .card--translate3 {
    transform: translateX(0) rotate(0); }

.btn-outline-danger:focus {
  background-color: #df4759; }

.btn-outline-success:focus {
  background-color: #5cb85c; }

.btn-outline-warning:focus {
  background-color: #f0ad4e; }

.btn-outline-danger:active {
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f700ff, 0 0 140px 90px #dd00ff; }

.btn-outline-success:active {
  box-shadow: 0 0 60px 30px #ffffff, 0 0 100px 60px #00ff37, 0 0 140px 90px #0ff; }

.btn-outline-warning:active {
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f2ff00, 0 0 140px 90px #f56d18; }

.card--detalle {
  /*     margin: 50px !important; */
  background: #dfce8f;
  background: linear-gradient(171deg, rgba(223, 206, 143, 0.5) 0%, rgba(210, 164, 202, 0.5) 100%);
  backdrop-filter: blur(50px);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: absolute;
  transition: .3s ease-in-out;
  cursor: pointer; }

.card__imgsonidos {
  border-radius: 10px;
  opacity: 1;
  height: auto;
  width: 100%; }

.card {
  width: 250px !important; }

.reproductor {
  position: relative;
  width: 80vw;
  height: 52px;
  border-radius: 40px;
  margin: auto;
  margin-bottom: 90px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; }
  .reproductor__seeker {
    -webkit-appearance: none;
    appearance: none;
    width: 80vw;
    padding: 20px;
    height: 52px;
    border-radius: 40px; }
    .reproductor__seeker:focus {
      outline: none; }
    .reproductor__seeker::-webkit-slider-runnable-track {
      width: 100%;
      height: 16px;
      cursor: pointer;
      box-shadow: 0px 0px 0px #000000;
      background: #DE9EA6;
      border-radius: 25px;
      border: 1px solid #8A8A8A; }
    .reproductor__seeker::-webkit-slider-thumb {
      box-shadow: 1px 1px 2px #A6A6A6;
      border: 2px solid #F27B7F;
      height: 25px;
      width: 25px;
      border-radius: 23px;
      background: #FFC7D0;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -6px; }
    .reproductor__seeker:focus::-webkit-slider-runnable-track {
      background: #DE9EA6; }
    .reproductor__seeker::-moz-range-track {
      width: 100%;
      height: 16px;
      cursor: pointer;
      box-shadow: 0px 0px 0px #000000;
      background: #DE9EA6;
      border-radius: 25px;
      border: 1px solid #8A8A8A; }
    .reproductor__seeker::-moz-range-thumb {
      box-shadow: 1px 1px 1px #828282;
      border: 1px solid #8A8A8A;
      height: 24px;
      width: 35px;
      border-radius: 6px;
      background: #DADADA;
      cursor: pointer; }
    .reproductor__seeker::-ms-track {
      width: 100%;
      height: 16px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent; }
    .reproductor__seeker::-ms-fill-lower, .reproductor__seeker::-ms-fill-upper {
      background: #DE9EA6;
      border: 1px solid #8A8A8A;
      border-radius: 50px;
      box-shadow: 0px 0px 0px #000000; }
    .reproductor__seeker::-ms-thumb {
      margin-top: 1px;
      box-shadow: 1px 1px 1px #828282;
      border: 1px solid #8A8A8A;
      height: 24px;
      width: 35px;
      border-radius: 6px;
      background: #DADADA;
      cursor: pointer; }
    .reproductor__seeker:focus::-ms-fill-lower, .reproductor__seeker:focus::-ms-fill-upper {
      background: #DE9EA6; }

.scrollsonidos {
  width: 100vh;
  overflow: visible;
  z-index: 1; }

.swipeside--sonidos-position {
  visibility: hidden; }

@media (max-width: 740px) {
  .card--detalle {
    box-shadow: none; }
  .reproductor {
    position: relative;
    width: 80vw;
    height: 52px;
    border-radius: 40px;
    margin: auto;
    margin-bottom: 110px; }
  .scrollsonidos {
    margin-top: 120px;
    width: 300px;
    height: 350px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    background: transparent; }
  .scrollsonidos::-webkit-scrollbar {
    display: none; }
  .box-canciones {
    display: flex;
    height: 400px;
    width: 850px;
    position: relative;
    justify-content: space-around;
    align-items: flex-start;
    background: transparent;
    margin-top: 0; }
    .box-canciones:hover {
      width: 800px; }
    .box-canciones:hover .card--translate1 {
      transform: translateX(0) rotate(0); }
    .box-canciones:hover .card--translate2 {
      transform: translateX(0) rotate(0); }
    .box-canciones:hover .card--translate3 {
      transform: translateX(0) rotate(0); }
  .card--translate1 {
    left: 0; }
  .card--translate2 {
    left: 0; }
  .card--detalle {
    position: relative !important; }
  .swipeside--sonidos-position {
    left: 40%;
    transform: translateX(-50%);
    top: 450px;
    z-index: 9999;
    visibility: visible; } }

/*---FECHAS---*/
.row--style {
  margin: 0;
  padding: 0;
  height: 100%;
  margin: 0px 0 90px 0; }

.bg {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 100%;
  background-image: linear-gradient(90deg, #d2be99, rgba(209, 254, 254, 0.5)); }

.scrolling-num {
  width: 100vh;
  overflow-x: auto;
  z-index: 1; }
  .scrolling-num::-webkit-scrollbar {
    width: 0px;
    background: transparent; }

.scrolling-flyer-map {
  width: 100%;
  max-height: 340px;
  height: 50%;
  scroll-behavior: smooth;
  margin-bottom: 100px;
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth; }
  .scrolling-flyer-map::-webkit-scrollbar {
    display: none; }

.scrolling-flyer-map__content {
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.flyer {
  width: auto;
  height: 80%;
  max-width: 300px;
  max-height: 300px;
  margin: 0px 40px;
  border-radius: 20px; }
  .flyer:hover {
    transform: translate(1px, 1px); }

.flyer--border {
  box-shadow: #f02eaa 2px 2px, rgba(240, 46, 170, 0.3) 5px 5px, rgba(240, 46, 170, 0.2) 10px 10px, rgba(240, 46, 170, 0.1) 15px 15px, rgba(240, 46, 170, 0.05) 20px 20px; }
  .flyer--border:hover {
    box-shadow: #f02eaa 1px 1px, rgba(240, 46, 170, 0.3) 4px 4px, rgba(240, 46, 170, 0.2) 9px 9px, rgba(240, 46, 170, 0.1) 14px 14px, rgba(240, 46, 170, 0.05) 19px 19px; }

/*flyer grandes*/
.flyer-fullscreen {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(53, 51, 51, 0.856);
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  .flyer-fullscreen img {
    width: 0%;
    height: 0%;
    padding: 0;
    transition: all .5s;
    margin: auto; }
  .flyer-fullscreen:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
    .flyer-fullscreen:target img {
      height: auto;
      width: 90%;
      max-width: 500px;
      max-height: 500px;
      border-radius: 24px;
      box-shadow: 0px 0px 20px 1px #bec692e8;
      border: 1px solid rgba(255, 255, 255, 0.925); }

.flyer-fullscreen__lightbox-close {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto; }

/*--calendario--*/
.calendario {
  margin-top: 50px;
  position: relative;
  width: 120px;
  opacity: .8;
  margin-left: 10px; }
  .calendario .calendario__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-bottom: 2px solid #ffe3ef;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 5px 25px rgba(180, 133, 155, 0.15); }
    .calendario .calendario__box .calendario__mes {
      color: #333030;
      background-image: linear-gradient(90deg, #ffe3ef 50px, #fffcc2);
      width: 100%;
      font-size: 1em;
      text-align: center;
      font-weight: 400;
      padding: 5px 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px; }
    .calendario .calendario__box .calendario__dia {
      color: #333030;
      font-size: 1em;
      font-weight: 400;
      margin-top: 0px; }
    .calendario .calendario__box .calendario__ndia {
      color: #333030;
      font-size: 2em;
      font-weight: 600;
      line-height: 1.2em; }

.calendario__link {
  text-decoration: none; }

.calendario:hover {
  transform: translateY(-5px);
  box-shadow: none;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(235, 132, 225, 0.56);
  -moz-box-shadow: 0px 0px 10px 0px rgba(235, 132, 225, 0.56);
  box-shadow: 0px 0px 10px 0px rgba(235, 132, 225, 0.56); }

.swipeside--fechas-position {
  visibility: hidden; }

/*MEDIA QUERY FECHA*/
@media (max-width: 740px) {
  .scrolling-num {
    width: 70%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px; }
  .scrolling-flyer-map {
    height: 60%; }
  .scrolling-flyer-map__content {
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .flyer--margin {
    margin-top: 30px;
    margin-bottom: 15px; }
  .flyer {
    max-height: 145px; }
  .swipeside--fechas-position {
    left: 50%;
    transform: translateX(-50%);
    top: 160px;
    z-index: 9999;
    visibility: visible; } }

/***FOTOS***/
.titulofecha {
  display: none; }

.bgfotos {
  background-image: linear-gradient(90deg, #d2be99, rgba(209, 254, 254, 0.5)); }

.fotoscroll {
  margin: auto;
  display: flex;
  align-items: flex-start;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  height: 100vh;
  width: 100%;
  scrollbar-width: none;
  scroll-behavior: smooth; }

.fotoscroll::-webkit-scrollbar {
  display: none; }

.fotoscroll__scrollprop {
  scroll-snap-align: center; }

.glowcuadrorosa {
  box-shadow: rgba(240, 46, 170, 0.4) 2px 2px, rgba(240, 46, 170, 0.3) 5px 5px, rgba(240, 46, 170, 0.2) 10px 10px, rgba(240, 46, 170, 0.1) 15px 15px, rgba(240, 46, 170, 0.05) 20px 20px; }

.textglow {
  text-shadow: 2px 2px 0 #bcbcbc, 1px 1px 0 #9c9c9c; }

.fotoscroll__grid-fotos--celeste {
  display: grid;
  column-gap: 70px;
  row-gap: 10px;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: repeat(5, 90px);
  grid-template-areas: "fotoscroll__img5--celeste fotoscroll__img5--celeste fotoscroll__texto--celeste1 fotoscroll__img1--celeste" "fotoscroll__img5--celeste fotoscroll__img5--celeste . fotoscroll__tapaside" ". fotoscroll__img3--celeste fotoscroll__img4--celeste fotoscroll__img4--celeste " "fotoscroll__texto--celeste2 . fotoscroll__img4--celeste fotoscroll__img4--celeste" ". fotoscroll__img2--celeste texto-celeste3 fotoscroll__box--vacioceleste"; }

.fotoscroll__img--forma {
  border-radius: 80px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; }

.fotoscroll__img1--celeste {
  grid-area: fotoscroll__img1--celeste;
  overflow: hidden; }

.fotoscroll__img2--celeste {
  grid-area: fotoscroll__img2--celeste;
  overflow: hidden; }

.fotoscroll__img3--celeste {
  grid-area: fotoscroll__img3--celeste;
  overflow: hidden; }

.fotoscroll__img4--celeste {
  grid-area: fotoscroll__img4--celeste;
  overflow: hidden; }

.fotoscroll__img5--celeste {
  grid-area: fotoscroll__img5--celeste;
  overflow: hidden; }

.fotoscroll__tapaside {
  grid-area: fotoscroll__tapaside; }

.tapaside {
  filter: grayscale(60%);
  width: 90px;
  height: 90px;
  transition: all .5s;
  overflow: hidden;
  border-radius: 50px; }

.tapaside:hover {
  filter: grayscale(0);
  mix-blend-mode: normal; }

.fotoscroll__texto--celeste1 {
  grid-area: fotoscroll__texto--celeste1; }

.fotoscroll__texto--celeste2 {
  grid-area: fotoscroll__texto--celeste2; }

.texto-celeste3 {
  grid-area: texto-celeste3; }

.fotoscroll__texto--bordeabajo {
  padding-top: 35px;
  border-color: #dadada;
  border-width: 2px;
  border-style: groove;
  font-size: 16px;
  text-align: end;
  padding-right: 5px;
  color: #4b4747;
  overflow: hidden;
  border-radius: 10px; }

.fotoscroll__texto--bordearriba {
  border-color: #dadada;
  border-width: 2px;
  border-style: groove;
  padding-left: 5px;
  font-size: 16px;
  width: 90px;
  color: #4b4747;
  overflow: hidden;
  border-radius: 10px; }

.fotoscroll__texto--sinborde {
  color: #4b4747;
  font-size: 16px;
  overflow: hidden;
  margin-top: 30px; }

.fotoscroll__box--vacio {
  width: 100%;
  height: 100%;
  border-color: #dadada;
  border-width: 2px;
  border-style: groove;
  border-radius: 10px; }

.fotoscroll__box--vacioceleste {
  grid-area: fotoscroll__box--vacioceleste; }

.fotoscroll__container--celeste {
  display: flex;
  background-image: linear-gradient(90deg, #c2ffe9 700px, #ffe3ef);
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 100vh; }

.tapa {
  filter: grayscale(60%);
  overflow: hidden;
  width: 100%;
  height: 180px;
  transition: all .5s;
  object-fit: cover; }

.tapa:hover {
  filter: grayscale(0);
  mix-blend-mode: normal; }

.thumb {
  filter: grayscale(90%);
  min-width: 230px;
  height: 230px;
  object-fit: cover;
  transition: filter  2s;
  object-position: -90px 0px; }

.thumb:hover {
  filter: grayscale(0); }

/*pantalla fotos rojo*/
.fotoscroll__grid-fotos--rojo {
  display: grid;
  column-gap: 70px;
  row-gap: 10px;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: repeat(5, 90px);
  grid-template-areas: "fotoscroll__img1--rojo fotoscroll__img1--rojo . fotoscroll__texto--rojo1" "fotoscroll__img1--rojo fotoscroll__img1--rojo fotoscroll__img2--rojo ." "fotoscroll__texto--rojo2 fotoscroll__img3--rojo fotoscroll__img5--rojo fotoscroll__img5--rojo" "fotoscroll__img7--rojo fotoscroll__texto--rojo3 fotoscroll__img5--rojo fotoscroll__img5--rojo" "fotoscroll__img4--rojo fotoscroll__box--vaciorojo . fotoscroll__img6--rojo"; }

.fotoscroll__container-rojo {
  display: flex;
  background-image: linear-gradient(90deg, #ffe3ef 700px, #fffcc2);
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 100vh; }

.fotoscroll__grid-fotos--rojo div {
  overflow: hidden; }

.fotoscroll__img1--rojo {
  grid-area: fotoscroll__img1--rojo; }

.fotoscroll__img2--rojo {
  grid-area: fotoscroll__img2--rojo; }

.fotoscroll__img3--rojo {
  grid-area: fotoscroll__img3--rojo; }

.fotoscroll__img4--rojo {
  grid-area: fotoscroll__img4--rojo; }

.fotoscroll__img5--rojo {
  grid-area: fotoscroll__img5--rojo; }

.fotoscroll__img6--rojo {
  grid-area: fotoscroll__img6--rojo; }

.fotoscroll__img7--rojo {
  grid-area: fotoscroll__img7--rojo; }

.fotoscroll__texto--rojo1 {
  grid-area: fotoscroll__texto--rojo1; }

.fotoscroll__texto--rojo2 {
  grid-area: fotoscroll__texto--rojo2; }

.fotoscroll__texto--rojo3 {
  grid-area: fotoscroll__texto--rojo3; }

.fotoscroll__box--vaciorojo {
  grid-area: fotoscroll__box--vaciorojo; }

/**FOTOS GRANDES**/
.foto--fullscreen {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(53, 51, 51, 0.856);
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.foto--fullscreen img {
  width: 0%;
  height: 0%;
  padding: 0;
  transition: all .5s;
  margin: auto; }

.foto--fullscreen:target {
  opacity: 1;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.foto--fullscreen:target img {
  height: max-content;
  width: auto;
  max-width: 90%;
  max-height: 500px;
  border-radius: 24px;
  box-shadow: 0px 0px 20px 5px #bec692e8; }

a.lightbox-close {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto; }

.datos-foto {
  background-color: rgba(250, 235, 215, 0.452); }

.titulo-fotos {
  background: rgba(255, 254, 254, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5.3px);
  margin: auto;
  margin: 10px; }

/*MEcalendario__dia QUERY FOTO*/
@media (max-width: 740px) {
  .fotoscroll {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100vh;
    width: 100%;
    scrollbar-width: none;
    scroll-behavior: smooth; }
  .titulofecha {
    display: inline; }
  .titulofecha h2 {
    font-size: 15px;
    font-weight: 100; }
  .flecha-derecha {
    display: none; }
  .flecha-izquierda {
    display: none; }
  .thumb {
    mix-blend-mode: darken;
    overflow: hidden;
    min-width: 105px;
    height: 105px;
    object-fit: cover;
    object-position: 0px 0px; }
  .fotoscroll__grid-fotos--rojo {
    display: grid;
    overflow: hidden;
    width: 325px;
    height: 225px;
    column-gap: 1px;
    row-gap: 1px;
    grid-template-columns: repeat(3, 105px);
    grid-template-rows: repeat(3, 105px);
    grid-template-areas: "fotoscroll__img1--rojo fotoscroll__img2--rojo fotoscroll__img3--rojo" "fotoscroll__img4--rojo fotoscroll__img5--rojo fotoscroll__img6--rojo" "fotoscroll__img7--rojo . ."; }
  .fotoscroll__container--celeste {
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px; }
  .fotoscroll__container-rojo {
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 100px; }
  .fotoscroll__grid-fotos--celeste {
    display: grid;
    overflow: hidden;
    object-fit: fill;
    width: 325px;
    height: 225px;
    column-gap: 1px;
    row-gap: 1px;
    grid-template-columns: repeat(3, 105px);
    grid-template-rows: repeat(2, 105px);
    grid-template-areas: "fotoscroll__img1--celeste fotoscroll__img2--celeste fotoscroll__img3--celeste" "fotoscroll__img4--celeste fotoscroll__img5--celeste ."; }
  .tapa {
    width: 105px;
    height: 105px; }
  .tapaside {
    visibility: hidden; }
  .fotoscroll__box--vacio {
    visibility: hidden; }
  .fotoscroll__texto--celeste1 {
    visibility: hidden; }
  .fotoscroll__texto--celeste2 {
    visibility: hidden; }
  .texto-celeste3 {
    visibility: hidden; }
  .fotoscroll__box--fotoscroll__box--vacioceleste1 {
    visibility: hidden; }
  .fotoscroll__img7--rojo {
    visibility: hidden; } }

/*---BIO---*/
.fondobio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(90deg, #d2be99, rgba(209, 254, 254, 0.5)); }

.bioscroll {
  margin: auto;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 400px;
  width: 70%;
  margin-top: 80px;
  margin-bottom: 50px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding-top: 80px;
  background-color: rgba(202, 141, 141, 0.256);
  backdrop-filter: blur(50px);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }

.bioscroll::-webkit-scrollbar {
  display: none; }

.bioscroll__cajabio {
  margin: auto;
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 80%;
  height: 150%;
  padding: 200px 0 200px 0; }

.bioscroll__cajabio--fotoscroll__scrollprop {
  scroll-snap-align: center; }

.wrapper {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(90deg, rgba(210, 190, 153, 0.785), rgba(209, 254, 254, 0.388));
  overflow: hidden; }

.flex_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.box {
  position: absolute;
  background-color: black;
  width: 50px;
  height: 50px;
  transition: 0.2s; }

form {
  position: absolute;
  padding: 30px 20px;
  width: 320px;
  border-radius: 7px;
  background-color: rgba(202, 141, 141, 0.256);
  backdrop-filter: blur(5px);
  background-color: rgba(158, 189, 199, 0.288);
  overflow: hidden;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }

.input {
  display: flex;
  flex-direction: column; }

input, textarea {
  padding: 8px 10px;
  margin: 3px 8px 16px 8px;
  background-color: rgba(248, 222, 246, 0.877);
  border: 0px transparent;
  border-radius: 5px;
  color: #6104b8;
  font-size: 16px;
  z-index: 1; }

label {
  margin: 0 8px;
  font-size: 14px;
  color: #6a6565; }

.button_wrapper {
  display: flex;
  justify-content: flex-end; }

button {
  padding: 8px 14px;
  margin: 20px 8px 0 0;
  border-width: 0px;
  border-radius: 5px;
  color: #7da0a5;
  background-color: #f8def6;
  transition: 0.3s;
  z-index: 1; }

button:hover {
  color: #3c2399;
  background-color: white; }

form.fade {
  animation: fade forwards ease 5s; }

@keyframes fade {
  0% {
    opacity: 1;
    transform: translate(0vw, 0) skew(0); }
  20% {
    opacity: 0.8;
    transform: translate(0vw, 0) skew(0); }
  100% {
    opacity: 0;
    transform: translate(50vw, -50vh) skew(-45deg); } }

form.fade_in {
  animation: fade_in forwards ease 6s; }

@keyframes fade_in {
  0% {
    opacity: 0;
    transform: translate(-50vw, 150vh) skew(-45deg); }
  50% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translate(0) skew(0); } }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8c91d8; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8c91d8; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8c91d8; }

.sign {
  position: absolute;
  color: #c53636;
  bottom: 10px;
  right: 10px;
  font-size: 10px; }

a {
  color: white;
  text-decoration: none; }
