/*---FECHAS---*/

.row--style {
  margin: 0;
  padding: 0;
  height: 100%;
  margin: 0px 0 90px 0;
}

.bg {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 100%;
  background-image: linear-gradient(90deg, rgba(210, 190, 153, 1), rgba(209, 254, 254, 0.5));
}

.scrolling-num {
  width: 100vh;
  overflow-x: auto;
  z-index: 1;

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.scrolling-flyer-map {
  width: 100%;
  max-height: 340px;
  height: 50%;
  scroll-behavior: smooth;
  margin-bottom: 100px;
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

.scrolling-flyer-map__content {
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flyer {
  width: auto;
  height: 80%;
  max-width: 300px;
  max-height: 300px;
  margin: 0px 40px;
  border-radius: 20px;

  &:hover {
    transform: translate(1px, 1px);
  }
}

.flyer--border {
  box-shadow: rgba(240, 46, 170, 1) 2px 2px, rgba(240, 46, 170, 0.3) 5px 5px, rgba(240, 46, 170, 0.2) 10px 10px, rgba(240, 46, 170, 0.1) 15px 15px, rgba(240, 46, 170, 0.05) 20px 20px;

  &:hover {
    box-shadow: rgba(240, 46, 170, 1) 1px 1px, rgba(240, 46, 170, 0.3) 4px 4px, rgba(240, 46, 170, 0.2) 9px 9px, rgba(240, 46, 170, 0.1) 14px 14px, rgba(240, 46, 170, 0.05) 19px 19px;
  }
}

/*flyer grandes*/

.flyer-fullscreen {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(53, 51, 51, 0.856);
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  img {
    width: 0%;
    height: 0%;
    padding: 0;
    transition: all .5s;
    margin: auto;
  }

  &:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    img {
      height: auto;
      width: 90%;
      max-width: 500px;
      max-height: 500px;
      border-radius: 24px;
      box-shadow: 0px 0px 20px 1px #bec692e8;
      border: 1px solid rgba(255, 255, 255, 0.925);
    }
  }
}

.flyer-fullscreen__lightbox-close {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
}

/*--calendario--*/

.calendario {
  margin-top: 50px;
  position: relative;
  width: 120px;
  opacity: .8;
  margin-left: 10px;

  .calendario__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-bottom: 2px solid rgba(255, 227, 239, 1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 5px 25px rgba(180, 133, 155, 0.15);

    .calendario__mes {
      color: #333030;
      background-image: linear-gradient(90deg, rgba(255, 227, 239, 1) 50px, rgb(255, 252, 194));
      width: 100%;
      font-size: 1em;
      text-align: center;
      font-weight: 400;
      padding: 5px 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    .calendario__dia {
      color: #333030;
      font-size: 1em;
      font-weight: 400;
      margin-top: 0px;
    }

    .calendario__ndia {
      color: #333030;
      font-size: 2em;
      font-weight: 600;
      line-height: 1.2em;
    }
  }
}

.calendario__link {
  text-decoration: none;
}

.calendario:hover {
  transform: translateY(-5px);
  box-shadow: none;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(235, 132, 225, 0.56);
  -moz-box-shadow: 0px 0px 10px 0px rgba(235, 132, 225, 0.56);
  box-shadow: 0px 0px 10px 0px rgba(235, 132, 225, 0.56);
}
.swipeside--fechas-position{ 
  visibility: hidden;
}  

/*MEDIA QUERY FECHA*/

@media (max-width: 740px) {
  .scrolling-num {
    width: 70%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .scrolling-flyer-map {
    height: 60%;
  }

  .scrolling-flyer-map__content {
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flyer--margin {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .flyer {
    max-height: 145px;
  }


.swipeside{
  &--fechas-position{
     left: 50%;
    transform: translateX(-50%) ;
    top: 160px;
    z-index: 9999;
    visibility: visible;
}
}
}