/*FLECHAS*/

.flecha-derecha span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid rgba(42, 40, 40, 0.712);
    border-right: 3px solid rgba(42, 40, 40, 0.712);
    animation: derecha 2s infinite;
    margin: 20px;
}

@keyframes derecha {
    0% {
        opacity: 0;
        transform: rotate(315deg) translate(0px, 0px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(315deg) translate(10px, 10px);
    }
}


.flecha-izquierda span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid rgba(42, 40, 40, 0.712);
    border-right: 3px solid rgba(42, 40, 40, 0.712);
    animation: izquierda 2s infinite;
    margin: 20px;
}

@keyframes izquierda {
    0% {
        opacity: 0;
        transform: rotate(135deg) translate(0px, 0px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(135deg) translate(10px, 10px);
    }
}


.flecha-abajo span {
    display: block;
    position: relative;
    top: 130px;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid rgba(42, 40, 40, 0.712);
    border-right: 3px solid rgba(42, 40, 40, 0.712);
    animation: abajo 2s infinite;
}

@keyframes abajo {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(0px, 0px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}

.flecha-arriba span {
    display: block;
    position: relative;
    top: -130px;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid rgba(42, 40, 40, 0.712);
    border-right: 3px solid rgba(42, 40, 40, 0.712);
    animation: arriba 2s infinite;
}

@keyframes arriba {
    0% {
        opacity: 0;
        transform: rotate(225deg) translate(0px, 0px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(225deg) translate(10px, 10px);
    }
}




.swipeside {
    position: absolute;
    width: fit-content;
    opacity: .3;
    animation: swipeside 2s infinite;

    &__img {
        width: 30px;
        animation: opacity 35s infinite;
    }
}


@keyframes swipeside {
    0% {
        transform: translate3d(20%, 0, 0);
    }

    15% {
        transform: translate3d(-20%, 0, 0);
    }

    30% {
        transform: translate3d(20%, 0, 0);
    }

    45% {
        transform: translate3d(-20%, 0, 0);
    }

    60% {
        transform: translate3d(20%, 0, 0);
    }

    75% {
        transform: translate3d(-20%, 0, 0);
    }

    100% {
        transform: translate3d(20%, 0, 0);
    }
}




@keyframes opacity {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;

    }

    to {
        opacity: 0;
    }
}


.swipedown {
    position: absolute;
    width: fit-content;
    animation: opacity 25s infinite;
    opacity: .3;

    &__img {
        width: 30px;

        animation: swipedown 2s infinite;
    }
}


@keyframes swipedown {
    0% {
        transform: translate3d(0, 20%, 0);
    }

    15% {
        transform: translate3d(0, -20%, 0);
    }

    30% {
        transform: translate3d(0, 20%, 0);
    }

    45% {
        transform: translate3d(0, -20%, 0);
    }

    60% {
        transform: translate3d(0, 20%, 0);
    }

    75% {
        transform: translate3d(0, -20%, 0);
    }

    100% {
        transform: translate3d(0, 20%, 0);
    }
}




@keyframes opacity {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;

    }

    to {
        opacity: 0;
    }
}