/***FOTOS***/


.bg-fotos{
    @include sizes (100svh, 100%);

}


.titulofecha {
    display: none;
}



.fotoscroll {
    margin: auto;
    display: flex;
    align-items: flex-start;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    height: 100vh;
    width: 100%;
    scrollbar-width: none;
    scroll-behavior: smooth;
   

}

.fotoscroll::-webkit-scrollbar {
    display: none;
}

.fotoscroll__scrollprop {
    scroll-snap-align: center;
}

.box-fotos{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.glowcuadrorosa {
    box-shadow: rgba(240, 46, 170, 0.4) 2px 2px, rgba(240, 46, 170, 0.3) 5px 5px, rgba(240, 46, 170, 0.2) 10px 10px, rgba(240, 46, 170, 0.1) 15px 15px, rgba(240, 46, 170, 0.05) 20px 20px;
}




.textglow{
    text-shadow: 2px 2px 0 #bcbcbc, 1px 1px 0 #9c9c9c;
   
}

.fotoscroll__img--forma:hover{
    animation-play-state:paused;
 
}

.tapaside:hover{
    animation-play-state:paused;
}


.fotoscroll__grid-fotos--celeste {
    display: grid;
    column-gap: 70px;
    row-gap: 10px;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(5, 90px);
    grid-template-areas:
        "fotoscroll__img5--celeste fotoscroll__img5--celeste fotoscroll__texto--celeste1 fotoscroll__img1--celeste"
        "fotoscroll__img5--celeste fotoscroll__img5--celeste . fotoscroll__tapaside"
        ". fotoscroll__img3--celeste fotoscroll__img4--celeste fotoscroll__img4--celeste "
        "fotoscroll__texto--celeste2 . fotoscroll__img4--celeste fotoscroll__img4--celeste"
        ". fotoscroll__img2--celeste texto-celeste3 fotoscroll__box--vacioceleste"
}

.fotoscroll__img--forma{
border-radius: 10px;
background: transparent;
}

.fotoscroll__texto--animacion1{
    animation: orbita1 5s linear infinite;
}

.fotoscroll__texto--animacion2{
    animation: orbita2 28s linear infinite;
}


.fotoscroll__texto--animacion3{
    animation: orbita3 30s linear infinite;
}


.fotoscroll__img1--celeste {
    grid-area: fotoscroll__img1--celeste;
    overflow: hidden;
    animation: orbita1 20s linear infinite;

   
}



.fotoscroll__img2--celeste {
    grid-area: fotoscroll__img2--celeste;
    overflow: hidden;
    animation: orbita2 25s linear infinite;
  ;

}

.fotoscroll__img3--celeste {
    grid-area: fotoscroll__img3--celeste;
    overflow: hidden;
    animation: orbita1 15s linear infinite;
   ;
}

.fotoscroll__img4--celeste {
    grid-area: fotoscroll__img4--celeste;
    overflow: hidden;
    animation: orbita1 20s linear infinite;
}


.fotoscroll__img5--celeste {
    grid-area: fotoscroll__img5--celeste;
    overflow: hidden;
    animation: orbita4 25s linear infinite;
   
}


.fotoscroll__tapaside {
    grid-area: fotoscroll__tapaside;
    animation: orbita3 12s linear infinite;
}

.fotoscroll__img7--celeste { 
    overflow: visible;
}

.tapaside {
    filter: grayscale(60%);
    width: 90px;
    height: 90px;
    transition: all .5s;
    overflow: hidden;
    border-radius: 50px;
   
}

.tapaside:hover {
    filter: grayscale(0);
    mix-blend-mode: normal;
   
}

.fotoscroll__texto--celeste1 {
    grid-area: fotoscroll__texto--celeste1;
   
}

.fotoscroll__texto--celeste2 {
    grid-area: fotoscroll__texto--celeste2;
  
}

.texto-celeste3 {
    grid-area: texto-celeste3;
}


.fotoscroll__texto--bordeabajo {
    padding-top: 35px;
 /*    border-color: rgb(218, 218, 218);
    border-width: 2px;
    border-style: groove; */
    font-size: 16px;
    text-align: end;
    padding-right: 5px;
    color: rgb(75, 71, 71);
    overflow: hidden;
    border-radius: 10px;
}


.fotoscroll__texto--bordearriba {
/*     border-color: rgb(218, 218, 218);
    border-width: 2px;
    border-style: groove; */
    padding-left: 5px;
    font-size: 16px;
    width: 90px;
    color: rgb(75, 71, 71);
    overflow: hidden;
    border-radius: 10px;
}

.fotoscroll__texto--sinborde {
    color: rgb(75, 71, 71);
    font-size: 16px;
    margin-top: 30px;
   
}



.fotoscroll__box--vacio {
    width: 100%;
    height: 100%;
/*     border-color: rgb(218, 218, 218);
    border-width: 2px;
    border-style: groove; */
    border-radius: 10px;
}

.fotoscroll__box--vacioceleste {
    grid-area: fotoscroll__box--vacioceleste;

}




.fotoscroll__container--celeste {
  
    display: flex;
  background-image: linear-gradient(90deg, map-get($colors, "celeste")80%, rgba(210, 190, 153, 0.485));
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 100vh;

}

.tapa {
    filter: grayscale(60%);
    overflow: hidden;
    width: 100%;
    height: 200px;
    transition: all .5s;
    object-fit: cover;

}

.tapa:hover {
    filter: grayscale(0);
    mix-blend-mode: normal;
    
}

.thumb {
    filter: grayscale(90%);

    min-width: 230px;
    height: 230px;
    object-fit: cover;
    transition: filter  2s;
    object-position: -90px 0px;

   


}


.thumb:hover {
    filter: grayscale(0);
    
}


/*pantalla fotos rojo*/

.fotoscroll__grid-fotos--rojo {
    display: grid;
    column-gap: 70px;
    row-gap: 10px;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(5, 90px);
    grid-template-areas:
        "fotoscroll__img1--rojo fotoscroll__img1--rojo . fotoscroll__texto--rojo1"
        "fotoscroll__img1--rojo fotoscroll__img1--rojo fotoscroll__img2--rojo ."
        "fotoscroll__texto--rojo2 fotoscroll__img3--rojo fotoscroll__img5--rojo fotoscroll__img5--rojo"
        ". fotoscroll__texto--rojo3 fotoscroll__img5--rojo fotoscroll__img5--rojo"
        "fotoscroll__img4--rojo fotoscroll__box--vaciorojo fotoscroll__img7--rojo fotoscroll__img6--rojo"
    ;
}

.fotoscroll__container--rojo {
    display: flex;
    background-image: linear-gradient(90deg, rgba(210, 190, 153, 0.485) 70%, rgb(255, 252, 194));
    
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 100vh;

}




.fotoscroll__img1--rojo {
    grid-area: fotoscroll__img1--rojo;
    overflow: hidden;
    animation: orbita2 20s linear infinite;

}

.fotoscroll__img2--rojo {
    grid-area: fotoscroll__img2--rojo;
    overflow: hidden;
    animation: orbita4 30s linear infinite;
}

.fotoscroll__img3--rojo {
    grid-area: fotoscroll__img3--rojo;
    overflow: hidden;
    animation: orbita1 18s linear infinite;

}

.fotoscroll__img4--rojo {
    grid-area: fotoscroll__img4--rojo;
    overflow: hidden;
    animation: orbita2 20s linear infinite;

}

.fotoscroll__img5--rojo {
    grid-area: fotoscroll__img5--rojo;
    overflow: hidden;
    animation: orbita1 28s linear infinite;
}

.fotoscroll__img6--rojo {
    grid-area: fotoscroll__img6--rojo;
    overflow: hidden;
    animation: orbita2 25s linear infinite;
}

.fotoscroll__img7--rojo {
    grid-area: fotoscroll__img7--rojo;

    animation: orbita1 12s linear infinite;
}

.fotoscroll__texto--rojo1 {
    grid-area: fotoscroll__texto--rojo1;

}

.fotoscroll__texto--rojo2 {
    grid-area: fotoscroll__texto--rojo2;
    animation: orbita1 25s linear infinite; 


}

.fotoscroll__texto--rojo3 {
    grid-area: fotoscroll__texto--rojo3;
 
}


.fotoscroll__box--vaciorojo {
    grid-area: fotoscroll__box--vaciorojo;
}


/**FOTOS GRANDES**/


.foto--fullscreen {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(53, 51, 51, 0.856);
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.foto--fullscreen img {
    width: 0%;
    height: 0%;
    padding: 0;
    transition: all .5s;
    margin: auto;
}


.foto--fullscreen:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

}

.foto--fullscreen:target img {
    height: max-content;
    width: auto;
    max-width: 90%;
    max-height: 500px;
     border-radius: 24px;
     box-shadow: $shadowfullscreen

}



a.lightbox-close {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}



.datos-foto {
    background-color: rgba(250, 235, 215, 0.452);

}

.titulo-fotos {
    background: rgba(255, 254, 254, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5.3px);

    margin: auto;
    margin: 10px;
}





/*MEdia QUERY FOTO*/


@media (max-width: 740px) {
    .fotoscroll {
        
        height: 100vh;
        width: 100%;
  
    }

    .titulofecha {
        display: inline;

    }

    .titulofecha h2 {
        font-size: 15px;
        font-weight: 100;
    }

    .flecha-derecha--rojo{
        display: none;
    }

    .thumb {

        mix-blend-mode: darken;
        overflow: hidden;
        min-width: 105px;
        height: 105px;
        object-fit: cover;

        object-position: 0px 0px;
     
    }

 


    .fotoscroll__grid-fotos--rojo {
        
        display: grid;
        overflow: hidden;
        width: 325px;
        height: 225px;
        column-gap: 1px;
        row-gap: 1px;
        grid-template-columns: repeat(3, 105px);
        grid-template-rows: repeat(3, 105px);
        grid-template-areas:
            "fotoscroll__img1--rojo fotoscroll__img2--rojo fotoscroll__img3--rojo"
            "fotoscroll__img4--rojo fotoscroll__img5--rojo fotoscroll__img6--rojo"
            "fotoscroll__img7--rojo . ."

        ;
    }

    .fotoscroll__container--celeste {
        background-image: none;
        background-color:  map-get($colors, "celeste");
        align-items: center;
        align-content: center;
        flex-direction: column;
        justify-content: flex-end;
    
      
        ;
    }

    .fotoscroll__container--rojo {

      
        align-items: center;
        align-content: center;
        flex-direction: column;
        justify-content: flex-end;
        background-image: none;
        background:  rgba(210, 190, 153, 0.485) ;


    }

    .fotoscroll__grid-fotos--celeste {
      
        display: grid;
        overflow: hidden;
        object-fit: fill;
        width: 325px;
        height: 225px;
        column-gap: 1px;
        row-gap: 1px;
        grid-template-columns: repeat(3, 105px);
        grid-template-rows: repeat(2, 105px);
        grid-template-areas:
            "fotoscroll__img1--celeste fotoscroll__img2--celeste fotoscroll__img3--celeste"
            "fotoscroll__img4--celeste fotoscroll__img5--celeste ."

        ;
    }


    .tapa {
        width: 105px;
        height: 105px;

    }

    .fotoscroll__tapaside {
        visibility: hidden;

    }

    .fotoscroll__box--vacio {
        visibility: hidden;
    }

    .fotoscroll__texto--celeste1 {
        visibility: hidden;
    }

    .fotoscroll__texto--celeste2 {
        visibility: hidden;
    }

    .texto-celeste3 {
        visibility: hidden;
    }

    .fotoscroll__box--fotoscroll__box--vacioceleste1 {
        visibility: hidden;
    }

    .fotoscroll__img7--rojo {
        visibility: hidden;
    }

    .fotoscroll__img--forma{
        border-radius: 5px;
        background: #e0e0e0;
        box-shadow: none;
        }
    .box-fotos{
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .boxceles{
width: 100%;
height: 80%;
    }
}





@media all and (min-width:740px) {

@keyframes orbita1 {
from { transform: rotate(0) translateX(5px) rotate(0) ; }
to   { transform: rotate(360deg) translateX(5px) rotate(-360deg) ; }
}



@keyframes orbita2 {
    0% { transform: rotate(0) translateX(4px) rotate(0); }
    to   { transform: rotate(-360deg) translateX(4px) rotate(360deg); }
    }


    @keyframes orbita3  {
        from { transform: rotate(0deg) translateX(2px) rotate(0deg); }
        to   { transform: rotate(360deg) translateX(2px) rotate(-360deg); }
        }

    @keyframes orbita4 {
        0% {
            transform: translate(0);
        }
    
        10% {
            transform: translate(-2px, -2px);
        }
    
        20% {
            transform: translate(2px, -2px);
        }
    
        30% {
            transform: translate(-2px, 2px);
        }
    
        40% {
            transform: translate(2px, 2px);
        }
    
        50% {
            transform: translate(-2px, -2px);
        }
    
        60% {
            transform: translate(2px, -2px);
        }
    
        70% {
            transform: translate(-2px, 2px);
        }
    
        80% {
            transform: translate(-2px, -2px);
        }
    
        90% {
            transform: translate(2px, -2px);
        }
    
        100% {
            transform: translate(0);
        }
    }

    @keyframes orbita5 {
        from { -webkit-transform: rotate(0deg) translateX(5px) translateY(120px) rotate(0deg);}
        to   { -webkit-transform: rotate(360deg) translateX(5px) translateY(120px) rotate(-360deg); }
  }





    @keyframes bounce-in-left{0%{transform:translateX(-600px);animation-timing-function:ease-in;opacity:0}38%{transform:translateX(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateX(-68px);animation-timing-function:ease-in}72%{transform:translateX(0);animation-timing-function:ease-out}81%{transform:translateX(-28px);animation-timing-function:ease-in}90%{transform:translateX(0);animation-timing-function:ease-out}95%{transform:translateX(-8px);animation-timing-function:ease-in}100%{transform:translateX(0);animation-timing-function:ease-out}}
}