$degrade: linear-gradient(90deg, rgba(210, 153, 197, 0.585), rgba(209, 254, 254, 0.488));  
$shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
$colors: 
    (
      "principal": #DE9EA6,
      "rosasuave": #e8cdd0,
      "negro": #242425, 
      "celeste": rgba(158, 189, 199, 0.288)
    );

    
    
@mixin sizes ($height, $widht){
  height: $height;
  width: $widht;
}